<div class="row mt-2">
    <div class="col-xs-03 col-md-12">
        <div class="form-group">
            <div class="input-group">
                <div class="col align-self-center">
                    <h5>Partidos</h5>
                </div>
                <div class="col col-lg-2">
                    <button type="button" class="btn btn-light w-auto">Generar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card text-center m-3">
    <div class="card-body">
        <h6 class="card-title align-items-lg-start">Fecha 1</h6>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card text-center m-3">
    <div class="card-body">
        <h6 class="card-title align-items-lg-start">Fecha 1</h6>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card text-center m-3">
    <div class="card-body">
        <h5 class="card-title align-items-lg-start">Fecha 1</h5>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card text-center m-3">
    <div class="card-body">
        <h5 class="card-title align-items-lg-start">Fecha 1</h5>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Peñarol - Nacional
                </div>
                <div class="col-sm">
                    Defensor - River
                </div>
            </div>
        </div>
    </div>
</div>