<div class="row m-2" id="generadorGrupos">
    <div class="col-xs-03 col-md-12">
        <div class="form-group">
            <div class="input-group">
                <div class="col align-self-center">
                    <h5>Generador de grupos</h5>
                </div>
                <div class="col-md-auto ">
                    <input type="text" class="form-control w-auto" aria-describedby="Equipo" placeholder="Equipo">
                </div>
                <div class="col col-lg-1">
                    <button type="button" class="btn btn-light w-auto">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fechas">
    <app-list-fechas></app-list-fechas>
</div>
<app-list-equipo></app-list-equipo>